$primary-color:rgb(208, 243, 93);
$secondary-color:red;
$primary-text-color:white;


.buttonG{
   background-color:$primary-color;
   color:$primary-text-color;
   display: inline-block;
   padding: 20px;
}
.buttonc{
background-color:$primary-color;
color:$primary-text-color;
display: inline-block;
padding: 20px;

}
